@model IEnumerable<Movid.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <b>We don't have any customers yet</b>
}
else
{
    <table class="table table-bordered table-hover" style="width:100%">
        <tr>
            <th>Customer</th>
        </tr>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td>
            </tr>

        }

    </table>

}


